@page  "/setting"
 

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card-border mb-3 card card-body border-secondary">
            <h5 class="card-title">Subjects</h5>
            <div class="card-body">
                <SubjectComponent></SubjectComponent>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-border mb-3 card card-body border-secondary">
            <h5 class="card-title">Classes</h5>
            <div class="card-body"> 
                 <ClassComponent></ClassComponent>
            </div>
        </div>
    </div>
</div>
