@page "/student"
    <div class="row">
        <ul class="nav nav-justified">
            <li class="nav-item"> 
                <button type="button" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="fa fa-user-plus"></i> New Student
                </button>
            </li>
         </ul> 
    </div>
 <div class="row">
     <StudentList/>
 </div>